#grid {
    display: flex;
    flex-wrap: wrap;
   
    
  
}

.head .cell {padding: 10px;}
.head {
    flex: 0;
    font-weight: bold;
    border: 1px solid black;
    background: red;
}

.pixelCanvas {
    border: solid black 5px;
}


.cell {
    flex: 1;
    border: 1px solid blue;
    background: yellow;
    min-height: 20px;
    min-width: 20px;
    
}

.head {
    width: 1px;
}

.cS {
    background: rgb(230, 4, 4);
}

.pC {
    border: black solid 5px;
}

td {
    border: black solid 5px;
}